*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --main-color:#f7d419;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}
.container{
    margin: auto;
    padding: 0 15px;
}
/* Start landing page */
.landing-page{
    min-height: 100vh;
    background-image: url(../image/pexels-1.jpg);
    background-size: cover;
    position: relative;
}
.landing-page .overlay{
    background-color: rgb(0, 0, 0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.landing-page .container{
    position: relative;
    z-index: 1000;
}
.landing-page .header{
    padding: 20px 0 0 0;
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
}
.landing-page .header .logo{
    font-size: 25px;
    font-weight: bold;
    width: 300px;
    color: var(--main-color);
}
.landing-page .header .links-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.landing-page .header .links li{
    margin-left: 10px;
    display: inline-block;
    
}
.landing-page .header .links li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.3s linear;
}

.landing-page .header .toggle-menu {
    background: none;
    width: 40px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}
.landing-page .header .toggle-menu.toggle-active:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    border: 6px solid;
    border-color:  transparent  transparent white  transparent;

}
.landing-page .header .toggle-menu:focus {
    outline: none;
}
.landing-page .header .toggle-menu span {
    display: block;
    height: 4px;
    background-color: white;
    margin-bottom: 4px;
}
.landing-page .introduction-text{
    color: white;
    position: absolute;
    z-index: 3;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width:767px) {
    .landing-page .introduction-text{
        width: 100%;
        text-align: center;
    }

}
.landing-page .introduction-text h2{
    font-size: 30px;
    color: var(--main-color);
    width: 100%;
}
.landing-page .introduction-text p{
    font-size: 20px;
    color: white;
    line-height: 1.6;
}
@media (max-width:991px) {
    .landing-page .header .links{
        display: none;
    }
    .landing-page .header .links-container{
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .landing-page .header .links.open{
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 5px;
        margin: 10px 10px 0 0;
        width: 150px;
    }
    .landing-page .header .links.open li{
        text-align: center;
        margin: 0;
        transition: 0.3s;
        padding: 15px;
    }
    .landing-page .header .links.open li:not(:last-child) {
        border-bottom: 2px solid #eee;
    }
    .landing-page .header .links li:hover{
        background-color: var(--main-color);
        color: white;
        width: 100%;
    }
    .landing-page .header .links.open li a{
        color: black;
        
    }
}
@media (min-width:992px) {
    .landing-page .header .toggle-menu{
        display: none;
    }
    .landing-page .header .links li a:hover{
    background-color: var(--main-color);
    color: black;
    padding: 5px;
    border-radius: 5px;
}
}
/* End landing page */

/* Start About Us */
.about-us{
    padding-top: 50px;
    padding-bottom:50px ;
    display: flex;
}
@media (max-width:767px) {
    .about-us{
        flex-direction: column;
        text-align: center;
    }
}
.about-us .info-text{
    flex: 1;
    padding: 20px;
    align-self: center;
}
.about-us .info-text h3{
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 15px 0;
}
.about-us .info-text p{
    line-height: 1.6;
    font-size: 15px;
    color: #666;
    margin: 0;
}
.about-us .image {
    flex: 1;
}
.about-us .image img{
    max-width: 100%;
}
/*Start About Us */
/*Start Our Skills*/
.our-skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.our-skills h2{
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px 0;
    text-align: center;
}
.our-skills .skill-box{
    padding: 0 20px;
    margin-bottom: 20px;
}
.our-skills .skill-box .name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.our-skills .skill-box .skill-progress{
    width: 500px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}
@media (max-width:575px) {
    .our-skills .skill-box .skill-progress{
        width: 100%;
    }
    .our-skills .skill-box .name{
        text-align: center;
    }
}
.our-skills .skill-box .skill-progress span{
    height: 20px;
    background-color: blue;
    position: absolute;
    width: 0;
    border-radius: 5px;
    transition:all 1s;
}

/*End Our Skills*/

/* Start Gallary */
.gallary{
    padding-top: 50px;
    padding-bottom: 50x;
}
.gallary h2{
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px 0;
    text-align: center;
}
.gallary .images-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallary .images-box img{
    width: 200px;
    height: 200px;
    padding: 3px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}
.popup-overlay{
    position: fixed;
    background-color: rgb(0, 0, 0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.popup-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 101;
}

.popup-box img{
    max-width: 100%;
}
.popup-box h3{
    margin: 0 0 30px 0;
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
}
.close-button{
    border-radius: 5px;
    color: white;
    background-color: red;
    position: absolute;
    padding: 0 25px;
    text-align: center;
    line-height: 40px;
    bottom: -41px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 20px;
}

/* End Gallary */
/* Start Timeline */
.timeline{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.timeline .timeline-content{
    position: relative;
    overflow: hidden;
    
}
.timeline .timeline-content::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: var(--main-color);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.timeline .timeline-content .year{
    font-size: 30px;
    font-weight: bold;
    margin: 20px auto;
    width: 100px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    text-align: center;
    border-radius: 5px;
    color: white;
    padding: 3px 5px;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: calc(50% - 25px);
    border-radius: 10px;
    position: relative;
    margin-bottom:50px ;
}
.timeline .timeline-content .left{
    float: left;
}
.timeline .timeline-content .right{
    float: right ;
}

.timeline .timeline-content .left::after,
.timeline .timeline-content .right::before{
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    border: 3px solid var(--main-color);
    position: absolute;
    top: 20px;
    border-radius: 50%;
}
@media (max-width:767px) {
    .timeline .timeline-content .left,
    .timeline .timeline-content .right{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .timeline .timeline-content .left::after,
    .timeline .timeline-content .right::before{
        display: none;
    }
    .timeline .timeline-content .left::before,
    .timeline .timeline-content .right::after{
        display: none;
    }
}
.timeline .timeline-content .left::after{
    right: -35px;
}
.timeline .timeline-content .right::before{
    
    left: -35px;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::after{
    content: "";
    position: absolute;
    top: 20px;
    border: 10px solid ;
}
.timeline .timeline-content .left::before{
    border-color: transparent transparent transparent white;
    right: -20px;
}
.timeline .timeline-content .right::after{
    left: -20px;
    border-color: transparent white transparent transparent;
}
.timeline .timeline-content .content{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.timeline .timeline-content .content h3{
    margin: 0 0 30px 0;
    font-weight: bold;
    color: var(--main-color);
}
.timeline .timeline-content .content p{
    line-height: 1.6;
    font-size: 15px;
    color: #666;
    margin: 0;
}
.clearfix{
    clear: both;
}
/* End Timeline */

/* Start Our Featuers */
.features{
    padding-top: 80px;
    padding-bottom: 80px;
}
.features h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
    margin: 0 0 30px 0;
}
.features .feat-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.features .feat-box{
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 10px 5px 2px  #00000026;
}
.features .feat-box img{
    width: 300px;
    max-width: 100%;
}
.features .feat-box h4{
    font-size: 20px;
    margin: 20px 0 30px 0;
    position: relative;
}
.features .feat-box h4::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    bottom: -15px;
    left: 50%;
    margin-left: -30px;
    background-color: var(--main-color);
}
.features .feat-box p{
    margin: 0 auto 30px;
    width: 80%;
    line-height: 1.6;
    color: #666;
}
/* End Our Featuers */

/* Start Testimonials */
.testimonials{
    padding-top:50px ;
    padding-bottom: 50px;
    position: relative;
}
.testimonials::after{
    content: "";
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    height: 100%;
}
.testimonials::before{
    content: "";
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    height: 100%;
}
.testimonials h2{
    margin: 0 0 30px 0;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: white;
    position: relative;
    z-index: 3;
}
.testimonials .test-content {
    display: flex;
    gap: 20px;
}
@media (max-width:991px) {
    .testimonials .test-content {
    flex-direction: column;
    }
    .testimonials h2{
        text-align: center;
    }
}
.testimonials .test-box{
    position: relative;
    z-index: 3;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    
}
.testimonials .test-box > p{
    line-height: 1.6;
    color: #777;
    font-size: 15px;
    margin: 0 0 20px 0;
    font-style: italic;
}
.testimonials .test-box .test-info {
    display: flex;
    flex-direction: column;
}
.testimonials .test-box .test-info img {
    width: 50px;
    height: 50px;
    max-width: 100%;
    border-radius: 50%;
}
.testimonials .test-box .test-info h4{
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}
.testimonials .test-box .test-info p{
    margin: 0 0 20px 0;
    font-size: 15px;
    color: #777;
}
/* End Testimonials */
/* Start Contact us */
.contact {
    background-image: url(/projectOne/image/pexels-mcraftpix-21014.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.contact .overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255 ,0.6);
    position: absolute;
    top: 0;
    left: 0;
}
.contact .container{
    position: relative;
    z-index: 5;
}
.contact h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
}
.contact form {
    display: flex;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
}
.contact form .left {
    width: 50%;
}
.contact form .left input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    margin: 0 20px 30px 0;
    border: 1px solid #ccc;
    background-color: rgb(240, 240, 240 ,0.6);
    border-radius: 5px;

}
.contact form .left input:focus::placeholder{
    opacity: 0;
    transition: 0.5s;
}
.contact form .left input:focus{
    outline: 1px solid var(--main-color);
}

.contact form .right {
    width: 50%;
    
}
.contact form .right textarea{
    display: block;
    width: 100%;
    padding: 15px;
    height: 180px;
    border: 1px solid #ccc;
    background-color: rgb(240, 240, 240 ,0.6);
}
.contact form .right textarea:focus{
    outline: 1px solid var(--main-color);
}
.contact form .right textarea:focus::placeholder{
    opacity: 0;
    transition: 0.5s;
}
.contact form .right input[type="submit"]{
    margin-top: 30px ;
    padding: 5px 15px;
    font-size: 20px;
    color: white;
    background-color: var(--main-color);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width:767px) {
    .contact form {
        flex-direction: column;
    }
    .contact form .left,
    .contact form .right{
        width: 100%;
    }
}
/* End Contact us */
/* Start Footer */
.footer{
    text-align: center;
    padding: 20px;
    background-color: #677;
    color: white;
    
}
/* End Footer */





/* Start Setting Box */
.setting-box{
    min-height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: -200px;
    background-color: white;
    z-index: 1000;
    transition: 0.3s;
    border: 2px solid #ddd;
}
.open{
    left:0;
}
.setting-box .toggle{
    color: var(--main-color);
    background-color: white;
    position: absolute;
    right: -32px;
    top: 50px;
    cursor: pointer;
    border-radius:3px ;
}
.setting-box .toggle .icon-setting{
    padding:8px ;
}
.setting-box .setting-container .box-option{
    padding: 10px;
    background-color: #ddd;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}
.setting-box .setting-container .box-option h4{
    margin: 0;
    color: #333;
    font-size: 14px;
}
.setting-box .setting-container .box-option .colors-list{
    margin-top: 10px;
    margin-left: 15px;
    text-align: center;
    display: flex;
}
.setting-box .setting-container .box-option .colors-list li{
    width: 20px;
    height: 20px;
    background-color: black;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.5;
    margin-left: 5px;
}
.setting-box .setting-container .box-option .colors-list li.active{
    opacity: 1;
    border: 3px white solid;
}
.setting-box .setting-container .box-option .colors-list li:first-child{
    background-color: #f7d419;
}
.setting-box .setting-container .box-option .colors-list li:nth-child(2){
    background-color:#E91E63 ;
}
.setting-box .setting-container .box-option .colors-list li:nth-child(3){
    background-color:#09a450 ;
}
.setting-box .setting-container .box-option .colors-list li:nth-child(4){
    background-color:#03DAC6 ;
}
.setting-box .setting-container .box-option .colors-list li:nth-child(5){
    background-color:#018786 ;
}
.setting-box .box-option .yes,
.setting-box .box-option .no {
    width: 50px;
    display: inline-block;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    padding: 3px 5px;
    font-weight: bold;
    opacity: 0.5;
    cursor: pointer;
}
.setting-box .box-option .yes{
    background-color: #06c706;
}
.setting-box .box-option .no{
    background-color: red;
}
.setting-box .box-option span.active{
    opacity: 1;
}
.setting-box .reset-option{
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    width: 176px;
    padding: 10px;
    border: none;
    background-color: red;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* End Setting Box */
/* Start Navigation Bullets */
.nav-bullets {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 40px;
    z-index: 99;
}
.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    margin: 10px auto;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet:hover .tooltip {
    display: block;
}
.nav-bullets .bullet .tooltip {
    font-size: 14px;
    width: 100px;
    position: absolute;
    top: -5px;
    left: -115px;
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: none;
    cursor: default;
    pointer-events: none;
}
.nav-bullets .bullet .tooltip::after {
    content: "";
    position: absolute;
    border: 6px solid;
    border-color: transparent transparent transparent var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
    
}
/* Start Navigation Bullets */

/* Start Grid Systems */

/*small devices phones */
@media (min-width:576px) {
    .container{
        max-width: 540px;
    }
}
/* medium devices */
@media (min-width:768px) {
    .container{
        max-width: 720px;
    }
}
/* for desktops  */
@media (min-width:992px) {
    .container{
        max-width: 960px;
    }
}
/* large screen */
@media (min-width:1200px) {
    .container{
        max-width: 1140px;
    }
}
/* End Grid Systems */